<p style="color:dodgerblue; font-size:30px; font-weight:bold">Assignment 1</p>
<p style="color:black; font-size:50px; font-weight:bold">Intro to R</p>
<br>
<p style="color:red; font-size:18px; font-weight:bold">February 15th, 2017</p>

### Overview
**How to submit this:** Submit this assignment through CMS.

**Objectives:** Become familiar with the data structures and syntax of R, learn how to perform initial analysis on a csv data set, visualize findings using the built-in “plot” function.

## Problem 1 - Data Structure
*Includes : rbind, data.frame, find mean, find std, find min, factor*

As a member of Cornell Data Science, you decided to investigate the distribution of gender across the majors from College of Engineering, using R. Following is a table and stats based on the real data of 2016 Fall class from Cornell Engineering Website. Your task is to create data frame of this table in R and perform initial analysis of the data. 

<table border="2" bordercolor="" cellpadding="3" cellspacing="3" style="background-color: white; border-color: lavender; width: 100%px;">
<tbody>
<tr align="center">
<th><span style="color: purple;"></span></th>
<th><span style="color: purple;">Biomedical Engineering</span></th>
<th><span style="color: purple;">Computer Science</span></th>
<th><span style="color: purple;">Info Science</span></th>
<th><span style="color: purple;">Chemical Engineering</span></th>
<th><span style="color: purple;">Operation Research</span></th>
</tr>
<tr align="center">
<th><span style="color: blue;">Total Male Students</span></th>
<th>23</th>
<th>326</th>
<th>20</th>
<th>88</th>
<th>110</th>
</tr>
<tr align="center">
<th><span style="color: blue;">Total Female Students</span></th>
<th>65</th>
<th>134</th>
<th>23</th>
<th>99</th>
<th>107</th>
</tr>
</tbody></table>

https://www.engineering.cornell.edu/resources/registrar/stats.cfm

### 1-1 Create Vectors

From the table above, create 1 character vector of college majors, 2 numeric vectors that store the number of students by gender. Store each vectors into a variable and name *Major, Male, Female* accordingly.

In [1]:
# Write your codes here

### 1-2 Create a Data.frame

Combine 3 vectors from previous questions and create a Data.frame. Store the object into a variable and name it *GenderDist*. See what *GenderDist* prints. What about *GenderDist[1]*? *GenderDist$Male[1]*?

### 1-3 Max, Mean, Std

Use built-in function, max( ), mean( ), sd( ) to find the max value, mean value and the standard deviation of female students from *GenderDist*.

Now, you decided to add 3 more columns, *Material Science, Mechanical Engineering* and *Unaffiliated*.

<table border="2" bordercolor="" cellpadding="3" cellspacing="3" style="background-color: white; border-color: lavender; width: 100%px;">
<tbody>
<tr align="center">
<th><span style="color: purple;"></span></th>
<th><span style="color: purple;">Material Science</span></th>
<th><span style="color: purple;">Mechanical Engineering</span></th>
<th><span style="color: purple;">Unaffiliated</span></th>
</tr>
<tr align="center">
<th><span style="color: blue;">Total Male Students</span></th>
<th>21</th>
<th>205</th>
<th>746</th>
</tr>
<tr align="center">
<th><span style="color: blue;">Total Female Students</span></th>
<th>32</th>
<th>78</th>
<th>690</th>
</tr>
</tbody></table>

https://www.engineering.cornell.edu/resources/registrar/stats.cfm

### 1-4 Combine 2 Tables

Create a new data frame of the 3 new categories, and store it into a variable. Once you finish creating 2 tables, combine 2 tables and create a new data frame, name it *NewGenderDist*.

### 1-5 Create a New Column

You want to see the difference of enrollment by gender across majors. Create a new column in *NewGenderDist* which stores values by subtracting male enrollment from female enrollment. For example, the difference value of Chemical Engineering should be 11 ( 99 - 88 = 11).

<br>
## Problem 2 - Initial Analysis
*Includes:  str, summary, subset, na.rm = TRUE*

One of the most infamous shipwrecks in history, the sinking of the RMS Titanic had killed 1502 out of 2224 passengers and crew. Although there was some element of luck involved in surviving the sinking, some groups of people were more likely to survive than others, such as women, children, and the upper-class. In this assignment, your task is to read in the given csv file and do initial analysis of the dataset using basic feature engineerings and basic visual plots.

### 2-1 Initial Setup

Download “train.csv” dataset from https://www.kaggle.com/c/titanic/data. Use read.csv(“*type file name here*”) function to store the csv file into a variable and name it *Titanic*.
(Note: you can navigate through different directories using setwd(“*type file location here*”) and check your current working directory in your R console using getwd() function.)

### 2-2 Summary of the Dataset

R provides a useful summary of a data.frame with str() and summary() functions. How many observations and variables does the Titanic dataset have? How many variables have *Factor* mode? How many missing values does variable *Age* have?

In [ ]:
# write codes here
# any non-code answers should be written in the comments

### 2-3 Subset of Data

While skimming through the data, you found values smaller than 1 in *Age* category and decided to extract a vector only containing those values. Perform this operation by using built-in subset() function in R. Your final result should print an age vector with values less than 1.

Then create a male-only subset and store it into a variable *MalePassenger*.

### 2-4 Max, Mean, Std

Use built-in function, max( ), mean( ), sd( ) to find the max value, mean value and the standard deviation of Male passengers’ Age. You might need to an extra step from 1-3 in order to get right outputs.

<br>
## Karma
Optional problems for additional practice

Karma questions don't count toward your grading (in other words, as long as you finished Problem 1 and 2, your assignment will be complete even if you don't try any Karmas). It is still a good practice to try them if you have time.

### K-1 Largest Prime Factor

Write a function in R that returns the largest prime factor of a given number (if the number is less than 1, return NULL). **(Par: 10 lines)**